
.bk-container{
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 5px; */
    
}


.book-btn{
    border: 1px solid #d3a3a3;
    border-radius: 5px;
    padding: 15px 2px;
    width: 50%;
    margin: 10px;
}
.book-btn:hover{
    background-color: #5B5B5B;
    border: 2px solid #5B5B5B;
}
.only-one-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    border: 2px solid #d3a3a3;
    margin: 60px 400px;
    border-radius: 5px ;
    width: 100vh;
    background-color: #ffffff;

    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.author-text{
    white-space: nowrap;
}

.book-text{
    margin-top: -25px;
}

.btn-more-less{
    padding: 0;
    border: none;
    background: none;
    color: #04290d;
    font-weight: bold;
    cursor: pointer;
}

.book-description{
    word-break: unset;
}

.re-img{
    float: left;
    width: 150px;
    height: 250px;
    object-fit: cover;
}