

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 8px;
  margin: 10px;
}

.book-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.genre-container{
  display: grid;
  grid-template-columns: auto auto;
   grid-gap: 10px;
  /*padding: 5px; */
}

.author-container {
  display: grid;
  grid-template-rows: auto;
}

.author-img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.genre-btn {
  border: 2px solid #d3a3a3;
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
  width: 100%;
}

.genre-btn:hover {
  background-color: #5b5b5b;
  border: 2px solid #5b5b5b;
}


