input[type=text]{
    background: transparent;
    border: 8px none;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 60px; 
    font-size: 25px;
   

}

input[type=text]:focus{
    outline: none;
    
}

/* input:placeholder-shown{
    border: 5px solid red;
    color:  red;
} */

.search-btn{
    background: transparent;
    border: none;

}

.search-icon{
    width: 20px;
    height: 20px;
} 

.form-container{
    margin: 30px 15px;
}