input[type="text"] {
  background: transparent;
  border: none;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-size: 25px;
}

input[type="text"]:focus {
  /* outline: none; */
  border: 2px solid #5b5b5b;
  border-radius: 20px;
  padding: 10px 10px;
  margin-bottom: 15px;
}

/* input:placeholder-shown{
    border: 5px solid red;
    color:  red;
} */

.search-btn {
  background: transparent;
  border: none;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.form-container {
  margin: 30px 15px;
}
