* {
  background-color: #ffffff;
  box-sizing: border-box;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}


a {
  color: #000000;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #5b5b5b;
}

p {
  color: #5b5b5b;
}

a:active {
  color: #000000;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
 
}
